* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-primary: #a7a2a9;
    --color-light: #71A9F7;
    --color-white: #f4f7f5;
    --color-white-variant: rgba(255, 255, 255, 0.7);
    --color-black: #08090a;
    --color-bg: #222823;
    --color-bg1: #575a5e;

    --transition: all 400ms ease;
}

body {
    background: var(--color-white-variant);
  
}