 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
    font-family: 'Press Start 2P', cursive;
}

.giga_container{
    background-color: #A1A0FE;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4%;
    height: 100%;
    justify-content: center;
    background-color: #A1A0FE;
}
.profile-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_list_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.display_lists{

    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(4, 800px);
    justify-content: center;
    margin-top: 5%;
    grid-gap: 1%;
    grid-row-gap: 5%;
}
.todo_container{
    position: relative;
     background: rgb(3,144,0);
    background: linear-gradient(90deg, rgba(3,144,0,1) 9%, rgba(255,255,255,1) 24%, rgba(3,144,0,1) 40%); ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ul_tasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}

#div_li{
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: space-between;
    margin: 2%;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    
}
.divButton{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.divTuyaux{

    position: absolute;
    top: -8%;
    width: 425px;
    height: 80px;
    border: solid;
    padding: 0 100px;
    background: rgb(3,144,0);
    background: linear-gradient(90deg, rgba(3,144,0,1) 9%, rgba(255,255,255,1) 24%, rgba(3,144,0,1) 40%);
    border-radius: 10px;
    box-shadow: 0px 12px 20px -1px rgba(0,0,0,0.49);
}

.title{
    color: white;
}


.cloud {
    position: absolute;
    width: 150px;
    height: 75px;
    border-radius: 100px;
    background-color: white;
    left: 88%;
    top: 57px;
}
    

.tiny_cloud1{
    position: relative;
  width: 85px;
  height: 75px;
  border-radius: 53%;
  background-color: white;
  top: 18%;
  left: 55%;

}

.tiny_cloud2{
    position: relative;
    width: 85px;
    height: 75px;
    border-radius: 53%;
    background-color: white;
    top: -61%;
    left: 13%;
    
}
.tiny_cloud3{
    position: relative;
    width: 85px;
    height: 75px;
    border-radius: 53%;
    background-color: white;
    top: -185%;
    left: -18%;
}

.tiny_cloud4{
    position: relative;
    width: 70px;
    height: 60px;
    border-radius: 53%;
    background-color: white;
    top: -330%;
    left: -2%;
}
 
.tiny_cloud5{
    position: relative;
    width: 85px;
    height: 75px;
    border-radius: 53%;
    background-color: white;
    top: -419%;
    left: 26%;
  
}

.tiny_cloud6{
    position: relative;
    width: 85px;
    height: 75px;
    border-radius: 53%;
    background-color: white;
    top: -502%;
    left: 53%;
} 

.header_container{
    position: relative;
    top: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header{
    display: flex;
  position: absolute;
  top: 4em;
}

.myList_form_title{
    margin-top: 4%;
  margin-left: 7%;
}

.home{
    width: 100%;
    height: 100%;
    background-color: #A1A0FE;
    display: flex;
    justify-content: center;
}
.login-form{
    display: flex;
    justify-content: center;
}



