 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
    font-family: 'Press Start 2P', cursive;
}

.giga_container{
    background-color: #A1A0FE;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4%;
}

.add_list_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.display_lists{

    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(4, 800px);
    justify-content: center;
    margin-top: 5%;
    grid-gap: 1%;
}
.todo_container{
    position: relative;
     background: rgb(3,144,0);
    background: linear-gradient(90deg, rgba(3,144,0,1) 9%, rgba(255,255,255,1) 24%, rgba(3,144,0,1) 40%); ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ul_tasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}

#div_li{
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    margin: 2%;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    
}
.divButton{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.divTuyaux{

    position: absolute;
    top: -8%;
    width: 425px;
    height: 80px;
    border: solid;
    padding: 0 100px;
    background: rgb(3,144,0);
    background: linear-gradient(90deg, rgba(3,144,0,1) 9%, rgba(255,255,255,1) 24%, rgba(3,144,0,1) 40%);
    border-radius: 10px;
    box-shadow: 0px 12px 20px -1px rgba(0,0,0,0.49);
}

.title{
    color: white;
}

.cloud{
    position: absolute;
    width: 150px;
    height: 75px;
    border-radius: 100px;
    background-color: white;
}
.tiny_cloud1{
    position: relative;
    width: 35px;
    height: 25px;
    border-radius: 90%;
    background-color: white;
    top: -15%;
    left: 10%;
}

.tiny_cloud2{
    position: relative;
    width: 35px;
    height: 25px;
    border-radius: 90%;
    background-color: white;
    bottom: 55%;
    right: 25%;
}
.tiny_cloud3{
    position: relative;
    width: 50px;
    height: 45px;
    border-radius: 90%;
    background-color: white;
    top: 25%;
    right: 30%;
}